*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: "Roboto", sans-serif;
}
h2{
  font-family: "Roboto", sans-serif;

}
h3{
  font-family: "Montserrat", sans-serif;

}
    

p {
  font-family: "Montserrat", sans-serif;
   
  }

  .moving-txt{
    white-space: nowrap;
    overflow-x: auto ;

  }

  .moving-txt::-webkit-scrollbar{
    display: none;
  }

  .con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .moving-txt h1{
    font-size: 5vw;
    display: inline-block;
    font-weight:600;
  }

  .slide{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: #28b463;
    margin: 1vw 2vw;
  }
@keyframes move{
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-100%);
  }
}



